*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

/* header */

header{
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.speaker-view, .enlarge{
    background-color: rgba(73, 72, 72, 0.5);
    max-width: max-content;
    padding: .2em;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


/* main */

main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width:1430px;
}

.icon{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}

.image{
    width: 100%;
}

.name-tag{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: .3em;
    position:absolute;
    bottom: 0;
    left: 0;
}

/* footer */

footer{
    background-color: rgb(62, 61, 61);
    color: white;
    padding: 10px;
    font-size: smaller;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-video{
    display: flex;
    align-items: center;
}

.mic, .video, .fa-chevron-up{
    margin-right: 10px;
}

.central-icons{
    display: flex;
}

.fa-share-from-square{
    color: green;
}

.end-meeting{
    background-color: grey;
    color: red;
    padding: 1.5em;
    height: 100%;
}

.fa-solid, .bi{
    height: 30px;
}

.audio-video>*, .central-icons>*{
    /* display: flex;
    flex-direction: column;          TODO: 
    justify-self: center; */
    margin-right: 5px;
}

i{
    width: 20px;
    display: flex;
    justify-content: center;
}