*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

/* header */

header{
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.speaker-view, .enlarge{
    background-color: rgba(73, 72, 72, 0.5);
    max-width: max-content;
    padding: .2em;
    margin-right: 10px;
    border-radius: 5px;
}


/* main */

main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width:1430px;
}

.icon{
    position: relative;
    max-width: 200px;
}

.image{
    width: 100%;
    margin-bottom: 10px;
}

.name-tag{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: .3em;
    position:absolute;
    bottom: 0;
    left: 0;
}